{{define "main"}}
    {{if .Site.Params.displayHomeContent}}
      {{.Content}}
      <hr/>
    {{end}}

    {{if .Site.Params.displayMicroBlog}}
    <div class="section"> 
        <div class="section-title">雑記</div> 
        {{ $pages := where site.RegularPages "Type" "in" site.Params.microBlogSection }}
        {{range first (default  4 .Site.Params.recentMax) (where $pages "Section" "eq" .Site.Params.microBlogSection)}}
            <div class="list-item">
                <a class="entry-title" href="{{ .URL }}">{{ .Title }}</a>
                {{$page := .}}
                {{with .Description}}
                <p>{{.}}</p>
                {{end}}
                <div class="meta">
                {{with .Date}}
                    <i class="far fa-calendar-alt"></i> {{.Format "2006-01-02"}}
                {{end}}
                {{ if ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02") }}
                    &nbsp;&nbsp;
                    <i class="fas fa-sync-alt"></i> {{.Lastmod.Format "2006-01-02"}}
                {{end}}
                <br>
                {{with .Params.tags}}
                  <i class="fas fa-tags"></i> {{ delimit . ", " }}
                {{end}}
                </div>
            </div>
        {{end}}
    </div>
    {{end}}

    {{if ne .Site.Params.displayRecent false}}
    <div class="section"> 
        <div class="section-title">最近のコンテンツ</div> 
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{range first (default  4 .Site.Params.recentMax) (where $pages "Section" "ne" .Site.Params.microBlogSection)}}
            <div class="list-item">
                <a class="entry-title" href="{{ .URL }}">{{ .Title }}</a>
                {{$page := .}}
                {{with .Description}}
                <p>{{.}}</p>
                {{end}}
                <div class="meta">
                {{with .Date}}
                    <i class="far fa-calendar-alt"></i> {{.Format "2006-01-02"}}
                {{end}}
                {{ if ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02") }}
                    &nbsp;&nbsp;
                    <i class="fas fa-sync-alt"></i> {{.Lastmod.Format "2006-01-02"}}
                {{end}}
                <br>
                {{with .Params.tags}}
                    <i class="fas fa-tags"></i> 
                    Tags: {{ delimit . ", " }}
                {{end}}
                </div>
            </div>
        {{end}}
        </div>
    {{end}}
{{end }}
