{{ define "main" }}
    <div class="section">
        <dev class="section-title">{{ (default .Section .Title) }}</dev>
        {{ range $index, $element := .Paginator.Pages }}
            <div class="list-item">
                <a class="entry-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{$page := .}}
                {{with .Description}}
                <p>{{.}}</p>
                {{end}}
                <div class="meta">
                {{with .Date}}
                    <i class="far fa-calendar-alt"></i> {{.Format "2006-01-02"}}
                {{end}}
                {{if ne .Date .Lastmod}}
                    &nbsp;&nbsp;
                    <i class="fas fa-redo-alt"></i> {{.Lastmod.Format "2006-01-02"}}
                {{end}}
                <br>
                {{with .Params.tags}}
                    <i class="fas fa-tags"></i> 
                    Tags: {{ delimit . ", " }}
                {{end}}
                </div>
            </div>
        {{end}}
    </div>
    {{ partial "pagination.html" $ }}
{{end}}
