{{ define "main" }}
  <div class="section">
    <dev class="section-title">{{ (default .Section .Title) }}</dev>
    {{ range $index, $element := .Paginator.Pages }}
      <div class="list-item">
        <a class="entry-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{$page := .}}
        {{with .Description}}
          <p>{{.}}</p>
        {{end}}
        <div class="meta">
          {{- partial "date_and_lastmod.html" . -}}
          <br>
          {{with .Params.tags}}
            <i class="fas fa-tags"></i> {{ delimit . ", " }}
          {{end}}
        </div>
      </div>
    {{end}}
  </div>
  {{ partial "pagination.html" $ }}
{{end}}
