{{ define "main" }}
  {{with .Title}}
    <h3 id="title">{{.}}</h1>
  {{else}}
    <div class="spacer"></div>
  {{end}}
  {{- partial "date_and_lastmod.html" . -}}
  <div class="underline" style="display: flex; width: 100%;">
    {{with .Params.tags}}
      {{ partial "taglink.html" . }}
    {{end}}
    {{ if eq .Section .Site.Params.microBlogSection }}
      <span class="pc reading_time_in_minutes" style="margin-left: auto;">{{- partial "reading_time_in_minutes.html" . -}}</span>
    {{ end }}
  </div>
  {{.Content}}
  {{if ne .Section ""}}
    <div class="nav-next-prev">
      <a class="nav-top" href="/">Home</a>
    </div>
  {{end}}
{{end}}
