{{ define "main" }}
  {{with .Title}}
    <h3 id="title">{{.}}</h1>
  {{else}}
    <div class="spacer"></div>
  {{end}}
  <div style="display: flex; width: 100%;">
    {{- partial "date_and_lastmod.html" . -}}
    <span class="pc" style="margin-left: auto;">{{- partial "socialshares.html" . -}}</span>
  </div>
  <div class="underline" style="display: flex; width: 100%;">
    {{with .Params.tags}}
      {{ partial "taglink.html" . }}
    {{end}}
    {{ if eq .Section .Site.Params.microBlogSection }}
      <span class="pc reading_time_in_minutes" style="margin-left: auto;">{{- partial "reading_time_in_minutes.html" . -}}</span>
    {{ end }}
  </div>
  {{if eq .Section .Site.Params.microBlogSection}}
    <div class="sp reading_time_in_minutes">{{- partial "reading_time_in_minutes.html" . -}}</div>
  {{end}}
  <div class="sp">{{- partial "socialshares.html" . -}}</div>
  {{.Content}}
  {{if eq .Section .Site.Params.microBlogSection}}
    {{ template "_internal/disqus.html" . }}
  {{end}}
  {{if ne .Section ""}}
    <div class="nav-next-prev">
      <div class="nav-prev">
        {{with .PrevInSection}}
          <a href="{{.Permalink}}" aria-label="{{ .Title | safeHTML }}" class="tooltip-big-text"><i class="fas fa-chevron-left"></i></a>
        {{else}}
          <a class="grayed-out" href="javascript:void()"><i class="fas fa-chevron-left"></i></a>
        {{end}}
      </div>
      <a class="nav-top" href="#">top</i></a>
      <div class="nav-next">
        {{with .NextInSection}}
          <a href="{{.Permalink}}" aria-label="{{ .Title | safeHTML }}" class="tooltip-big-text"><i class="fas fa-chevron-right"></i></a>
        {{else}}
          <a class="grayed-out" href=""><i class="fas fa-chevron-right"></i></a>
        {{end}}
      </div>
    </div>
  {{end}}
{{end}}
