{{ define "main" }}
  {{with .Title}}
    <h1 id="title">{{.}}</h1>
  {{else}}
    <div class="spacer"></div>
  {{end}}
  <div style="display: flex; width: 100%;">
    {{with .Date}}
      <span>
        <i class="far fa-calendar-alt"></i> {{.Format "2006-01-02"}}
      </span>
    {{end}}
    {{- if ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02") -}}
      <span>
        <i class="fas fa-sync-alt"></i> {{.Lastmod.Format "2006-01-02"}}
      </span>
    {{end}}
    <span class="pc" style="margin-left: auto;">{{- partial "socialshares.html" . -}}</span>
  </div>
  <div class="underline" style="display: flex; width: 100%;">
    {{with .Params.tags}}
      <span><i class="fas fa-tags"></i>{{ delimit . ", " }}</span>
    {{end}}
    {{ if eq .Section .Site.Params.microBlogSection }}
      <span class="pc reading_time_in_minutes" style="margin-left: auto;">{{- partial "reading_time_in_minutes.html" . -}}</span>
    {{ end }}
  </div>
  <div class="sp reading_time_in_minutes">{{- partial "reading_time_in_minutes.html" . -}}</div>
  <div class="sp">{{- partial "socialshares.html" . -}}</div>
  {{.Content}}
  {{if eq .Section .Site.Params.microBlogSection}}
    {{ template "_internal/disqus.html" . }}
  {{end}}  
  {{if ne .Section ""}}
    <div class="nav-next-prev">
      <div class="nav-prev">
        {{with .PrevInSection}}
          <a href="{{.Permalink}}"><i class="fas fa-chevron-left"></i></a>
        {{else}}
          <a class="grayed-out" href="javascript:void()"><i class="fas fa-chevron-left"></i></a>
        {{end}}
      </div>
      <a class="nav-top" href="#">top</i></a>
      <div class="nav-next">
        {{with .NextInSection}}
          <a href="{{.Permalink}}"><i class="fas fa-chevron-right"></i></a>
        {{else}}
          <a class="grayed-out" href="javascript:void()"><i class="fas fa-chevron-right"></i></a>
        {{end}}
      </div>
    </div>
  {{end}}
{{end}}
