<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" integrity="sha256-{{ (sha256 (readFile "/static/img/favicon-16x16.png")) | base64Encode }}" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" integrity="sha256-{{ (sha256 (readFile "/static/img/favicon-32x32.png")) | base64Encode }}" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" integrity="sha256-{{ (sha256 (readFile "/static/img/apple-touch-icon.png")) | base64Encode }}" />

<link rel="manifest" href="/img/site.webmanifest" integrity="sha256-{{ (sha256 (readFile "/static/img/site.webmanifest")) | base64Encode }}" />
<link rel="mask-icon" color="#5bbad5" href="/img/safari-pinned-tab.svg" integrity="sha256-{{ (sha256 (readFile "/static/img/safari-pinned-tab.svg")) | base64Encode }}" />

<meta name="msapplication-TileImage" content="/img/mstile-144x144.png" integrity="sha256-{{ (sha256 (readFile "/static/img/mstile-144x144.png")) | base64Encode }}" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<link rel="icon" type="image/x-icon" href="/favicon.ico" integrity="sha256-{{ (sha256 (readFile "/static/favicon.ico")) | base64Encode }}" />

