<meta property="og:title" content="{{ .Scratch.Get "title" }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:image" content="{{ .Scratch.Get "image" }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:description" content="{{ .Scratch.Get "description" }}" />
<meta property="og:locale" content="{{ .Site.Params.Locale }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
{{- if .IsPage -}}
  {{- range .Scratch.Get "tag" -}}
    <meta property="og:article:tag" content="{{ . }}" />
  {{ end }}
  {{- with .Date }}
    <meta property="og:article:published_time" content="{{ dateFormat "2006-01-02T15:04:05+09:00" . }}" />
  {{ end }}
  {{- if ne (dateFormat "2006-01-02T15:04:05+09:00" .Date) (dateFormat "2006-01-02T15:04:05+09:00" .Lastmod) -}}
    <meta property="og:article:modified_time" content="{{dateFormat "2006-01-02T15:04:05+09:00" .Lastmod}}" />
  {{ end }}
{{- end -}}
