<head>
  <meta charset="UTF-8">
  {{- $title := .Title -}}
  {{- if ne .Site.Title .Title -}}
    {{- $title = printf "%s | %s" .Title .Site.Title -}}
  {{- end -}}

  {{- $description := .Description -}}
  {{ if not .Description -}}
    {{ if .IsPage -}}
      {{ $description = .Summary }}
    {{- else -}}
      {{ $description = .Site.Params.description }}
    {{ end -}}
  {{ end }}

  <script>
    let target = '/' + location.hostname;
    if (null != location.pathname.match(target)) {
      window.location.replace(location.origin + location.pathname.replace(target, ''));
    }
  </script>

  {{- partial "gtm_head" . -}}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="Hatena::Bookmark" content="nocomment" />
  <meta name="google-site-verification" content="_sC0CF55xyXtHKIPhr72YcZf2fwSLp4sLAxgOJBYGUA" />
  <meta name="robots" content="index,follow" />
  <meta name="description" content="{{ $description }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site:id" content="{{ .Site.Social.twitterid }}" />
  <meta name="twitter:creator:id" content="{{ .Site.Social.twitterid }}" />
  <meta name="twitter:description" content="{{ $description }}" />
  <meta name="twitter:title" content="{{ $title }}" />
  <meta name="twitter:image" content="{{ "avatar.png" | absURL }}" />
  <!-- End Twitter Card data -->

  <!-- Open Graph -->
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:image" content="{{ "avatar.png" | absURL }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta property="og:locale" content="{{ .Site.Params.Locale }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  {{- if .IsPage -}}
    {{- with .Date }}
      <meta property="og:article:published_time" content="{{.Format "2006-01-02"}}" />
    {{end}}
    {{- if ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02") -}}
      <meta property="og:article:modified_time" content="{{.Lastmod.Format "2006-01-02"}}" />
    {{end}}
  {{- end -}}
  <!-- End Open Graph -->
  <link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/style.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/custom.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/highlight.css" | absURL }}" />
  <script src="https://kit.fontawesome.com/90debbdc1e.js" crossorigin="anonymous"></script>

  <link rel="sitemap" href="{{ "/sitemap.xml" | absURL }}" />

  {{if eq .Section .Site.Params.microBlogSection}}
    <link rel="alternate" type="application/rss+xml" title="雑記 | {{ .Site.Title }}" href="{{ "misc_notes/index.xml" | absURL }}" />
    <link rel="feed" type="application/rss+xml" title="雑記 | {{ .Site.Title }}" href="{{ "misc_notes/index.xml" | absURL }}" />
  {{end}}  

  {{- partial "favicon" . -}}

  {{ hugo.Generator }}
  <title>{{ $title }}</title>
</head>
